html {
    box-sizing: border-box;
    // min-height: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    // width: 160px;
    // height: 180px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__inner {
        flex-grow: 1;
    }
}

.container {
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;

}

.accent {
    color: $accent;
}

.form-field {
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;
    position: relative;

    &__input {
        margin-bottom: 51px;
    }

    &__input:focus+&__placeholder,
    &__input:valid+&__placeholder {
        display: none;
    }

    &__placeholder {
        position: absolute;
        padding: 9px 9px;
        top: 0;
        left: 0;
        pointer-events: none;

        span {
            color: $accent;
        }
    }
}

.form-btn {
    font-weight: 500;
    font-size: 21px;
    line-height: 57px;
    letter-spacing: 0.12em;
    color: #fff;
    width: 237px;
    height: 57px;
    padding: 0;
    background-color: $accent;
    border: none;
    cursor: pointer;
}

.form-input {
    border: none;
    border-bottom: 1px solid #020305;
    width: 100%;
    padding: 9px 9px;
    outline: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.06em;

    &:focus {
        border-bottom: 1px solid $accent;
    }
}

.triangle-bg-top {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
    }

    &::before {
        @include triangle(52px, 52px, #000);
        top: 0;
        right: 220px;
    }

    &::after {
        @include triangle(122px, 132px);
        top: 25px;
        right: 150px;
    }
}

.triangle-bg-bottom {
    position: relative;


    &::after,
    &::before {
        content: "";
        position: absolute;
    }

    &::after {
        @include triangle(126px, 132px);
        bottom: -55px;
        left: 0;
        transform: rotate(90deg);
    }

    &::before {
        @include triangle(54px, 52px, #2e2c2c);
        bottom: 70px;
        left: 70px;
        transform: rotate(90deg);
    }
}


.title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 137.4%;

    letter-spacing: 0.12em;

    .accent {
        font-weight: 600;
    }
}